* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.eco {
    width: 100%;
    overflow: hidden;
}

.eco-wrap {
    width: 285px;
}

.eco-img {
    width: 8px;
    min-height: 15%;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    margin-left: 7px;
}


.back {
    width: 7px;
    display: block;
    object-fit: cover;


}


.eqitem {
    position: absolute;
    width: 7px;
    display: block;

}

.eqitem1 {
    position: absolute;
    width: 7px;
    display: block;


}


/*------pLAY*/


.control {

    width: 1%;
    height: 1%;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 5.8%;
    right: 3%;
}


@keyframes top {
    0% {
        transform: scaley(1);
    }
    100% {
        transform: scaley(1.4);
    }
}


@keyframes top2 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}


@keyframes top3 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(.9);
    }
}

@keyframes top4 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes top5 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes top6 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes top7 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes top8 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes top9 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes top10 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes top11 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes top12 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes top13 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes top14 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes top15 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes top16 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes top17 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes top18 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1);
    }
}

@keyframes top19 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}


.a1 {

    top: -55%;
    animation: top 0.3s alternate infinite ease-out;
}

.a2 {
    top: -30%;
    animation: top2 0.3s alternate infinite ease-out;
}

.a3 {
    top: -45%;
    animation: top3 0.3s alternate infinite ease-out;
}

.a4 {
    top: -40%;
    animation: top4 0.3s alternate infinite ease-out;
}

.a5 {
    top: -30%;
    animation: top5 0.3s alternate infinite ease-out;
}

.a6 {
    top: -41%;
    animation: top6 0.3s alternate infinite ease-out;
}

.a7 {
    top: -31%;
    animation: top7 0.3s alternate infinite ease-out;
}

.a8 {
    top: -40%;
    animation: top8 0.3s alternate infinite ease-in-out;
}

.a9 {
    top: -45%;
    animation: top9 0.3s alternate infinite ease-in;
}

.a10 {
    top: -31%;
    animation: top10 0.3s alternate infinite ease-in;
}

.a11 {
    top: -30%;
    animation: top11 0.3s alternate infinite ease-in;
}

.a12 {
    top: -45%;
    animation: top12 0.3s alternate infinite ease-in;
}

.a13 {
    top: -40%;
    animation: top13 0.3s alternate infinite ease-in;
}

.a14 {
    top: -30%;
    animation: top14 0.3s alternate infinite ease-in;
}

.a15 {
    top: -40%;
    animation: top15 0.3s alternate infinite ease-in;
}

.a16 {
    top: -31%;
    animation: top16 0.3s alternate infinite ease-in;
}

.a17 {
    top: -40%;
    animation: top17 0.3s alternate infinite ease-in;
}

.a18 {
    top: -45%;
    animation: top18 0.3s alternate infinite ease-in;
}

.a19 {
    top: -31%;
    animation: top19 0.3s alternate infinite ease-in;
}


/*__________________________________________________________________________________________*/
/*_________________________________DOWN_________________________________________________*/


@keyframes bot {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}


@keyframes bot2 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}


@keyframes bot3 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes bot4 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes bot5 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes bot6 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes bot7 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes bot8 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes bot9 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes bot10 {
    0% {
        transform: scaley(1.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes bot11 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes bot12 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes bot13 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes bot14 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes bot15 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes bot16 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes bot17 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes bot18 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}

@keyframes bot19 {
    0% {
        transform: scaley(.8);
    }
    100% {
        transform: scaley(1.5);
    }
}


.b1 {
    bottom: -55%;
    animation: bot 0.2s alternate infinite ease-out;
}

.b2 {
    bottom: -30%;
    animation: bot2 0.2s alternate infinite ease-out;
}

.b3 {
    bottom: -45%;
    animation: bot3 0.2s alternate infinite ease-out;
}

.b4 {
    bottom: -40%;
    animation: bot4 0.2s alternate infinite ease-out;
}

.b5 {
    bottom: -30%;
    animation: bot5 0.2s alternate infinite ease-out;
}

.b6 {
    bottom: -41%;
    animation: bot6 0.2s alternate infinite ease-out;
}

.b7 {
    bottom: -31%;
    animation: bot7 0.3s alternate infinite ease-out;
}

.b8 {
    bottom: -40%;
    animation: bot8 0.3s alternate infinite ease-out;
}

.b9 {
    bottom: -45%;
    animation: bot9 0.3s alternate infinite ease-out;
}

.b10 {
    bottom: -31%;
    animation: bot10 0.3s alternate infinite ease-out;
}

.b11 {
    bottom: -30%;
    animation: bot11 0.3s alternate infinite ease-out;
}

.b12 {
    bottom: -45%;
    animation: bot12 0.3s alternate infinite ease-out;
}

.b13 {
    bottom: -40%;
    animation: bot13 0.3s alternate infinite ease-out;
}

.b14 {
    bottom: -30%;
    animation: bot14 0.3s alternate infinite ease-out;
}

.b15 {
    bottom: -40%;
    animation: bot15 0.3s alternate infinite ease-in-out;
}

.b16 {
    bottom: -31%;
    animation: bot16 0.3s alternate infinite ease-out;
}

.b17 {
    bottom: -40%;
    animation: bot17 0.3s alternate infinite ease-out;
}

.b18 {
    bottom: -45%;
    animation: bot18 0.3s alternate infinite ease-out;
}

.b19 {
    bottom: -31%;
    animation: bot19 0.3s alternate infinite ease-in-out;
}

@media (max-width: 1440px) {
    .aside-wrap{
        width: 40%;

    }
}

.off {
    -moz-animation-name: none;
    -webkit-animation-name: none;
    -ms-animation-name: none;
    animation-name: none;
}

.pauseButton {
    display: none;
}